body{
    background-color: bisque;
}
.container{
    width: 1000px;
    height: 550px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: ghostwhite;
    text-align: center;
    box-shadow: 5px 5px 15px gray;
}
#map{
    height: 450px;
    width: 950px;
    margin: auto;
    border-radius: 15px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: coral;
    color: white;
    cursor: pointer;
    margin-bottom: 25px;
}
