
body{
    background-color: bisque;
}
.container{
    width: 50vw;
    height: 70vh;
    background-color: azure;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px;

}
.form{
    margin: 20px;
}
.form > input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    padding-left: 25px;
    background-color: rgb(212, 181, 144);
    font-size: large;
}
.form > button{
    width: 100px;
    height: 43px;
    border-radius: 0px 30px 30px 0px;
    border: none;
    background-color: rgb(212, 181, 144);
    /* font-size: 1rem; */
    /* font-weight: 900; */
}
.form > button:hover{
    background-color: rgb(78, 61, 40);
    color: white;
    cursor: pointer;
}
.info{
    width: 80%;
    height: 400px;
    background-color: bisque;
    margin: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 2px;
    padding: 10px;
    font-size: 1.5rem;
}
img{
    width: 100px;
    min-height: 40px;

}
